{% extends 'base.html' %} {% block container %}
<h2>Create</h2>
<p>Create a new movie.</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>Movie name: <input type="text" id="fname" name="fname" /><br /></p>
  <p>Movie star-rating: <input type="text" id="fstar" name="fstar" /><br /></p>
  <p>Type:<input type="text" id="fmessage" name="fmessage"></p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}
