{% extends 'base.html' %} {% block container %}
<h2>Update</h2>
<p>Edit the movie.</p>
<form method="POST" action="{{ url_for('edit_post', mongoid=mongoid) }}">
  <p>
    Movie name:
    <input type="text" id="fname" name="fname" value="{{doc.name}}" /><br />
  </p>
  <p>
    Star-rating:
    <input type="text" id="fstar" name="fstar" value="{{doc.star}}" /><br />
  </p>
  <p>
    Type:
    <textarea id="fmessage" name="fmessage">{{doc.message}}</textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}
