{% extends 'base.html' %}

{% block container %}
<h2>Movie on show</h2>
<p>This page shows the information of movies on show.
        
    {% for doc in docs %}
    <div>
        <hr class="solid">
        <p class="post">
            Movie "{{doc.name}}" goes live at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}<br />
            Star-rating: {{doc.star}}<br />
            Type: {{doc.message}}</br>
            <a href="{{ url_for('edit',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id)}}">Delete</a>
            </br>
        </p>
    </div>
    {%endfor%}
</p>
{% endblock %}